#container {
    align-items: center;
}

#container p {
    margin-left: 1em;
}

#container button {
    display: flex;
    width: 200px;
}

.img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
